DOMAIN=
HOSTANAME=
HOST_IP=

# PostgreSQL Credentials
POSTGRES_TAG=18
POSTGRES_CONTAINER_NAME=postgres
POSTGRES_VOLUME_NAME=database
POSTGRES_USER=oc_admin
POSTGRES_PASSWORD=
POSTGRES_DB=nextcloud_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# PgAdmin Credentials
PGADMIN_DEFAULT_EMAIL=ti@${DOMAIN}
PGADMIN_DEFAULT_USER=oc_admin
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_LISTEN_ADDRESS=0.0.0.0
PGADMIN_LISTEN_PORT=80
PGADMIN_EXPORTED_PORT=8090

# Nextcloud Configuration
LANG=pt_BR.UTF-8
LANGUAGE=pt_BR.UTF-8
LC_ALL=pt_BR.UTF-8
NEXTCLOUD_TRUSTED_DOMAINS=localhost,${HOST_IP},nextcloud.${DOMAIN}
PHP_MEMORY_LIMIT=200G
PHP_UPLOAD_LIMIT=200G
TRUSTED_PROXIES=172.19.0.0/24
OVERWRITEPROTOCOL=https
OVERWRITECLIURL=http://${HOST_IP}:${NEXTCLOUD_PORT}
NEXTCLOUD_DATA_DIR=/mnt/nextcloud
NEXTCLOUD_PORT=8080
NEXTCLOUD_TAG=stable-apache
NEXTCLOUD_CONTAINER_NAME=nextcloud
NEXTCLOUD_VOLUME_NAME=nextcloud_config # usado para backup

# Redis Configuration
REDIS_TAG=8
REDIS_HOST=redis
REDIS_PORT=6379

# Collabora Configuration
COLLABORA_TAG=26.04.1.4.1
COLLABORA_PORT=9980
COLLABORA_USERNAME=oc_admin
COLLABORA_PASSWORD=
COLLABORA_EXTRA_PARAMS=--o:ssl.enable=false --o:ssl.termination=true

# Whiteboard Configuration
WHITEBOARD_JWT_SECRET_KEY=
WHITEBOARD_TAG=stable
WHITEBOARD_PORT=3002

# NGINX Configuration
NGINX_PORT_HTTP=80
NGINX_PORT_HTTPS=443

# Backup Configuration
BACKUP_PATH=/mnt/backup
RESTIC_REPOSITORY=/mnt/backup/restic
RESTIC_PASSWORD=
